<div fxLayout style="height:400px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLsjSc6o1DbbT0bk61rMewLlKsOstUgSe-r-yMFvNNwnSBtlBqVQ); ">
    <span fxFlex="100%" fxFlexAlign="center" fxFlexAlign.end="center" fxFlexOffset="350px" fxFlexOffset.xs="40px" fxFlexOffset.sm="160px">  <input  color="warn" type="search" style=" height:50px; width:300px" placeholder="Find a merchant"> &nbsp; &nbsp;<button mat-raised-button color="warn" style=" height:50px; width:170px">Search</button></span>


</div>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex>



    </div>


</div>

<div class="container">
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Profile">
        <app-contact-merchant></app-contact-merchant>
    </mat-tab>
    <mat-tab label="Top Products">
        <div style="margin-top:16px;" class="container">
            <div class="row">
                <div class="header-title col-md-12">
                    <span>Top Products</span>
                </div>

                <div class="prod-item col-md-12">
                    <div class="row">
                        <span class="prod-left-nav">
                                                         </span>
                        <!--product display-->
                        <div [routerLink]="['/products/electronics','id']" class="col-md-3 col-sm-6 prod-display">
                            <img class="product img-fluid" src="https://gastsmearena.akamaized.net/230cd543-efa0-43e8-988f-a4fdd16dc36c_200">

                            <div class="columns small-12 text-center">
                                <div class="title">Iphone 8</div>
                                <div class="price"> <span>₦ 8,000.00 </span></div>
                                <div star-count="0" class="rating ui-display-stars">
                                    <div class="star-icons">
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                        <mat-icon>star</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 prod-display">
                            <img class="product img-fluid" src="https://gastsmearena.akamaized.net/230cd543-efa0-43e8-988f-a4fdd16dc36c_200">
                        </div>
                        <div class="col-md-3 col-sm-6 prod-display">
                            <img class="product img-fluid" src="https://gastsmearena.akamaized.net/230cd543-efa0-43e8-988f-a4fdd16dc36c_200">
                        </div>
                        <div class="col-md-3 col-sm-6 prod-display">
                            <img class="product img-fluid" src="https://gastsmearena.akamaized.net/230cd543-efa0-43e8-988f-a4fdd16dc36c_200">
                        </div>

                        <span class="prod-right-nav">
                                                          </span>



                    </div>

                </div>

            </div>
            <!--end of row-->
            <span class="product-see-more"><a routerLink="/merchant/store"> see more</a></span>
            <p style="clear: both;"></p>
        </div>
    </mat-tab>
<mat-tab label="Reviews">
<div style="margin-bottom:60px; margin-top:60px;">
        <div class="container" >
        <ul class="list-group">
            <li class="list-group-item"><div>Merchant is very good , bought an phone x from them and it was amazing i rate them a 3 star</div>
             <div class="small">Anonymous</div>
<div>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i> <br/>
</div>
</li>
        <li class="list-group-item"><div>Merchant is very good , bought an phone x from them and it was amazing i rate them a 3 star</div>
             <div class="small">Anonymous</div>
<div>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i> <br/>
</div>
</li>

<li class="list-group-item"><div>Merchant is very good , bought an phone x from them and it was amazing i rate them a 3 star</div>
             <div class="small">Anonymous</div>
<div>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i> <br/>
</div>
</li>
            <li class="list-group-item">&nbsp;</li>
            <button mat-raised button color="primary" (click)="review()">Write a Review</button>
        </ul>
        </div>
        <div  *ngIf="reviewbox" class="container">
        <div class="example-container">
 

  <mat-form-field>
  
    <textarea matInput placeholder="Write a Review" ></textarea>
  </mat-form-field>
<div>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i> <br/>
</div>
<button class="btn btn-primary"> SUBMIT</button>
 
</div>
        </div>
        </div>
    </mat-tab>

</mat-tab-group>

</div>