<div> </div>

<div class="container bg-light">
    <div class="row no-gutters my-3">
        <div class=" rounded col-md-12 col-sm-12 bg-white border border-light shadow">
            <div class="row">
                <div class="col-md-6 col-sm-6 p-md-5 p-sm-3">
                    <!-- <h2 class="mat-display-1">KT phones ltd</h2>
                    <img src="https://gastsmearena.akamaized.net/230cd543-efa0-43e8-988f-a4fdd16dc36c_200" alt="..." class="rounded-circle" style="height:70px;width:70px">
                    <p class="mat-body-2">
                        We deal with all kind of mobile phones
                    </p> -->
                    <!-- start -->
                    <div class="my-2">
                    <div class="profile clearfix">                            
        <div class="image">
            <img src="https://lorempixel.com/700/300/nature/2/"  class="img-fluid img-cover">
        </div>                            
        <div class="user clearfix">
            <div class="avatar">
                <img src="https://bootdey.com/img/Content/user-453533-fdadfd.png" class="img-thumbnail img-profile" style="padding:5px">
            </div>                                
            <h2>kt Phones Limited</h2>                                
            <div class="actions">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add to friends"><span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span> Phones</button>
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span> Accesories</button>
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Recommend"><span class="glyphicon glyphicon-share-alt glyphicon glyphicon-white"></span> Phone Parts</button>
                </div>
            </div>                                                                                                
        </div>                          
        <div class="info">
            <p><span class="glyphicon glyphicon-globe"></span> <span class="title">About Us:</span> We deal with all kind of phones ranging from new to used phones. Trusted and Satisfied</p>                                    
               
            <div class="border border-light border-left-0 border-right-0 p-md-2 p-sm-1 mb-0">
                        <h5 class="mat-subhead">Info@email.com</h5>
                    </div>
                    <div class="border border-light border-left-0 border-right-0 border-top-0 p-md-2 p-sm-1 mb-0">
                        <h5 class="mat-subhead">070xxxxxxxx</h5>
                    </div>  
                    <div class="my-2">
                        <img src="../../../assets/images/contact.PNG" alt="" class="img-fluid">
                    </div>

                    <p class="mat-subhead">
                        Visit us at xx, street name, <br/> City,
                        <br/> Country.
                    </p>                           
                    </div>        
                                          
       </div>
       
        </div>         <!-- end -->
                    
                    
                </div>
                <div class="col-md-6 col-sm-6 bgr-white text-white p-md-5 p-sm-3 mail">

                    <form [formGroup]="form" (ngSubmit)="sendMail(form.value)">
                        <div class="form">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput name="name" formControlName="name" placeholder="Enter Your Name" maxlength="300" required>
                                <mat-icon matSuffix>person</mat-icon>
                                <mat-error> {{ getNameError() }} </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Subject</mat-label>
                                <input matInput name="subject" formControlName="subject" placeholder="Enter The Subject of The Message" maxlength="20" pattern="^[a-zA-Z ]*$" required>
                                <mat-icon matSuffix>subject</mat-icon>
                                <mat-error> {{ getSubjectError() }} </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput name="email" type="email" formControlName="email" placeholder="Enter Your valid Email Address" maxlength="300" required>
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error> {{ getEmailError() }} </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Message</mat-label>
                                <textarea matInput name="message" formControlName="message" placeholder="Enter Your Message" rows="10" maxlength="500" style="resize: none" required>
                              </textarea>
                                <mat-icon matSuffix>message</mat-icon>
                                <mat-error> {{ getEmailError() }} </mat-error>
                            </mat-form-field>
                            <button type="submit" class="mat-button" mat-raised-button color="accent">Send</button>
                            <br/>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>