.form {
    display: flex;
    flex-direction: column;
}

.form>* {
    width: 100%;
}

textarea {
    resize: none;
}

@media screen and (max-width: 575px) {
    .shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}