<!--navigation menu-->
<div class="container">
  <div class="row">
      <div class="col">first item</div>
      <div class="col">Second item</div>
      <div class="col">Third item</div>
      <div class="col">Fourth item</div>
      <div class="col">Fifth item</div>
      <div class="col">Sixth item</div>
  </div>

  <div class="row">
    <div class="col-sm-10">
        <a href="//www.smearena.com.ng/shopping/collection/topfashion-17" >
          <img src="//gastsmearena.akamaized.net/a2a527bb-a4a0-4038-8ca1-758733399316" class="expand-me padding-bottom-0"></a>

    </div>
    <div class="col-sm-2">
        <a href="http://www.smearena.com.ng/shopping/help/trade-with-confidence">
          <img src="https://gastsmearena.akamaized.net/e7a310df-8dd5-4064-a82d-d5deba01f149" class="expand-me padding-bottom-10">
        </a>
        <a href="http://www.smearena.com.ng/shopping/help/shipping">
          <img src="https://gastsmearena.akamaized.net/4cff72ab-b9c0-404b-a0b8-7008ee983f45" class="expand-me padding-bottom-10">
        </a>
        <a href="/shopping/merchant-signup">
          <img src="https://gastsmearena.akamaized.net/2622955c-158b-4118-9d17-ad4484eaea73" class="expand-me">
        </a>
    </div>
  </div>



</div>
<!--end of container-->