/* market place navigation stylesheet */
.prod-navigation {
    list-style: none;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: #e8e5e5;
    border-style: solid;
    border-width: 1px 0; 
}
.prod-navigation:first-child {
    padding-left: 0;
}
.prod-navigation li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #424243;
}

.header-title {
    text-align: left;
    font-size: x-large;
    font-weight: 300;
    color: #424243;
}

.product-see-more{
    display: inline-block;
    float: right;
    text-align: right;
    font-size: large;
    font-weight: 300;
    margin-top: 20px;
   
}
.product-see-more a {
    text-decoration: none;
    color: #DF3847;
}
.product-see-more a:hover {
    color: #424243;
}

.prod-item {
    height: 100%;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
}

.prod-left-nav {
    width: 40px;
    position: absolute;
    left: 0;
    background: #DF3847;
    height: 100%;
    display: inline-block;
    z-index: 4;
}
.prod-right-nav {
    width: 40px;
    position: absolute;
    right: 0;
    background: #DF3847;
    height: 100%;
    display: inline-block;
    z-index: 4;
}

.prod-display {
    height: 100%;
    display: inline-block;
}

.product-wrapper {
    display: inline-block;
    width: 100%;
    padding-left: 25px;
    padding-right: 5px;
    position: relative;
}

.product {
    width: 100%;
}

.product:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.title {
    font-size: large;
    color: #424243;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price {
    color: #333;
    font-weight: 700;
    font-size: 14px;
}