<mat-card>
    <div>
        <div id="merchantname ">
            <h3> KT PHONES MERCHANT LTD</h3>
            <div> RATING : <i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i></div><br/>
            <div> CATEGORY: FASHION</div>

        </div>
    </div>
    <mat-divider id="mat-divider "></mat-divider>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>
        <h3>CONTACT INFORMATION</h3>
    </div><br/>
    <div> <span><strong><i class="fa fa-map-marker " aria-hidden="true "></i></strong></span> Ikorodu street, ipaja, Lagos.</div> <br/>
    <div> <span><strong><i class="fa fa-envelope " aria-hidden="true "></i></strong> </span> femo...@yahoo.com</div> <br/>
    <div> <span><strong> <i class="fa fa-mobile " aria-hidden="true "></i></strong> </span> 080.........</div> <br/>
    <div> <span><strong><i class="fa fa-mobile " aria-hidden="true "></i></strong> </span> 070..........</div> <br/>
</mat-card>