<!-- you can add bootstrap as the layout of the app-->
<!-- when adding bootstrap, do not add it with the head and link markup, just add the markup inside the body tag -->


<navbar></navbar>
<div>
    <mat-toolbar>
        <div class="container">
            <div class="row mx-auto">

                <div class="col-md-2">
                    <label>TantaBizHub &nbsp;</label>
                </div>
                <div class="col-md-8">
                    <input type="text" matInput class="form-control form-control-sm" placeholder="Search For what You Looking For" />
                </div>

            </div>
        </div>


    </mat-toolbar>
</div>
<router-outlet></router-outlet>


<app-footer>

</app-footer>