<!-- you can add bootstrap as the layout of the app-->
<!-- when adding bootstrap, do not add it with the head and link markup, just add the markup inside the body tag -->
<app-user></app-user>

<navbar></navbar>
<div>
    <mat-toolbar>
      <div class="container mt-sm-3">
        <div class="row mx-auto">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>TantaBizHub</label>
          </div>
          <div class="col-md-8 ml-md-2">
            <input type="text" matInput class="form-control form-control-sm" placeholder="Search For what You Looking For" /><br/>
          </div>

      </div>
      </div>


    </mat-toolbar>
</div>
 <router-outlet></router-outlet> 


<app-footer>

</app-footer>