<!-- you can add bootstrap as the layout of the app-->
<!-- when adding bootstrap, do not add it with the head and link markup, just add the markup inside the body tag -->
<navbar></navbar>
<mat-toolbar class="py-5">
    <div class="mx-auto">
        <div class="container">
            <div class="row">

                <div class="form-inline px-md-5">
                    <div class="col-xs-2">
                        <label>TantaBizHub &nbsp;</label>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" matInput class="form-control form-control-md" placeholder="What Are You Looking For" />
                    </div>

                </div>
            </div>
        </div>


    </div>
</mat-toolbar>
<router-outlet>
</router-outlet>
<app-footer>

</app-footer>