
/* New Stylesheet */

button.profile-button {
    margin: 0;
    width: 100%;
}

.name {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}

.email {
    text-align: center;
}

.contact {
    height: auto;
    background-color: #ffe57f;
}
.contact-info{
    padding: 40px;
}
.contact-info  span {
    margin-left: 15px;
}

.contact-info .fa {
    font-size: 34px;
}
