
.profile-date {
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
}
.profile-date>span {
    font-style: oblique;
    font-weight: normal;
}

.profile-name {
    font-size: x-large;
}


.contact-info  span {
    margin-left: 15px;
}

.contact-info .fa {
    font-size: 34px;
}


.material-cust-large-button {
    width: 250px;
    height: 70px;
    padding-top: 13px;
    color: #ffe57f;
}