<navbar></navbar>

<div class="container shadow mt-5">
    <div class="row">
         <div class="col-md-12  p-4 mt-5">
             <div class="row">
               <div class="col-md-2 " style="width: 100px; height: 100px;">
                 <img class="img-fluid rounded-circle" src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="width: 100px; height: 100px;" alt="Photo of a Shiba Inu">
               </div>
               <div class="col-md-9">
                   <p class="profile-date">DATE REGISTERED:<span> dd/mm/yyyy </span> </p>
                   <p class="profile-name">Segun Roseyienskiy</p>
                   <div class="bio">
                          <div class="profile-date">BIO</div>
                              <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                   </div>
               </div>
             </div>
         </div>
    </div>

        <div class="row mb-4" style="background-color: #ffe57f;">
            <div class="p-4 col-md-12">
               <div class="row contact-info">
                 <div class="col-md-3 col-sm-12 p-3">
                     <p><i class="fa fa-map-marker"></i> <span> 39, Ladipo Kasumu Street, Ikeja, Lagos. </span></p> 
                 </div>
                 <div class="col-md-3 col-sm-12 p-3">
                     <p><i class="fa fa-mobile"></i>  <span>08033333 , 080555555 </span> </p> 
                 </div>
                 <div class="col-md-3 col-sm-12 p-3">
                     <p><i class="fa fa-address-card"></i><span>info@tantainnovatives.com</span> </p> 
                 </div>
                 <div class="col-md-3 col-sm-12">
                    <button class="material-cust-large-button" data-backdrop="static" data-toggle="modal" data-target="#myModal"  mat-raised-button color="primary">Edit Profile</button>
                 </div>
               </div>
            </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
