
.profile-date {
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
}
.profile-date>span {
    font-style: oblique;
    font-weight: normal;
}

.profile-name {
    font-size: x-large;
}




.material-cust-large-button {
    width: 250px;
    height: 70px;
    padding-top: 13px;
    color: #ffe57f;
}
.no-border {
    border: 0;
}

mat-form-field textarea {
    overflow: hidden;
}
