/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    font-family: 'Roboto';
}
a {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

mat-sidenav.hide {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: inherit;
}


/** colors **/
.bgr-primary {
    background-color: #6f42c1;
}
.bgr-accent {
    background-color: #ffd740;
}

/* Market glboabal styles */
.prod-navigation {
    list-style: none;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: #e8e5e5;
    border-style: solid;
    border-width: 1px 0; 
}
.prod-navigation:first-child {
    padding-left: 0;
}
.prod-navigation li {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #424243;
}
