#dtoolbar {
    height: 90px;
}

.divider {
    display: flex;
}

#bizlayout {
    height: 650px;
    margin-bottom: 30px;
    padding: 20px
}

.img {
    width: 100px;
    height: 100px;
}

.containerpr {
    margin-top: 150px;
    margin-left: -320px;
    width: 500px
}

#dirsearch {
    padding: 0px
}

.containercategory {
    width: 500px;
    margin-top: 80px;
    margin-left: -300px
}

.search-form {
    width: 90%;
}

#dirbiz {
    margin-left: 100px;
}

.img {
    width: 100%;
    margin-bottom: 18%;
}

.card-picture {
    width: 23%;
    margin-bottom: 2%;
}

.search-form {
    width: 90%;
}

.container {
    padding: 0px;
}

#mattile {
    height: 30px;
    width: 30px
}

.mat-grid-tile {
    /* background: lightblue; */
}

#matgrid {
    height: 300px;
    padding: 20px;
    margin: 20px;
    max-height: 300px
}

.leftrow {
    margin-bottom: 200px
}

#mattile {}

#mattile:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* css for the list items- start*/

.media-photo {
    width: 40px;
    height: 40px;
}


/* style for list directory ends */